In [1]:
#!pip install anonymizedf

Collecting anonymizedf
  Using cached anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Collecting faker
  Downloading Faker-18.4.0-py3-none-any.whl (1.7 MB)
     ---------------------------------------- 1.7/1.7 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from anonymizedf) (1.5.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-18.4.0

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize

# Paso 1: Lectura de datos

In [3]:
df= pd.read_csv('Datos_Microdesafio_Semana8_DE.csv',sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

# Paso 2: Anonimizacion de columnas

In [4]:
# Preparar el dataframe
an = anonymize(df)

In [6]:
anonymize?

Init signature: anonymize(df)
Docstring:
Initializes a Pandas DataFrame as an anonymize object
to be used for making fake data.

Args:
    df: takes a Pandas DataFrame

Returns:
    anonymize object
File:           c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages\anonymizedf\anonymizedf.py
Type:           type
Subclasses:

`anonymize:` Este método se utiliza para anonimizar un dataframe. El método reemplaza todos los valores de una columna dada por valores aleatorios generados por el algoritmo de hash SHA-256. Esto se hace para preservar la distribución de los datos originales. El método devuelve un nuevo dataframe con los valores originales reemplazados por valores anonimizados.

In [5]:
an

In [7]:
fake_df = (
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Jill Green,1975-02-14,83467912
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Mrs Fiona Perry,1987-08-09,16351451
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Mr Ronald Atkins,2016-12-19,53111757
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Gregory Nicholls,1974-07-08,14662276
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Mr Mathew Tyler,1993-07-18,73402449
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Mr Hugh Daly,1985-10-08,66962557
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Simon Hall,1979-05-27,77389842
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Lewis Clayton,1987-08-09,36380676
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Mr Jason Gibbs,2009-06-23,81687259
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Mrs Joyce Evans,1988-03-14,65111815
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Liam Davies-Read,2008-02-25,26187218
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Marcus Wood,1996-11-03,53417879
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Trevor Jackson,1994-02-09,78981281
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Sally Scott,1993-07-05,59022293
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Gregory Sinclair-Smith,1975-10-25,26926082

In [8]:
fake_df.columns

Index(['Pais ', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono', 'Fake_Comisionado',
       'Fake_Fecha', 'Fake_Telefono'],
      dtype='object')

# Paso 3: Eleccion de columnas para alimentar database

In [27]:
df_final=fake_df[['Pais ','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Jill Green,Si,Si,Si,1975-02-14,83467912
1,Colombia,Mrs Fiona Perry,No,No,Si,1987-08-09,16351451
2,Chile,Mr Ronald Atkins,Si,Si,Si,2016-12-19,53111757
3,Bolivia,Gregory Nicholls,No,No,No,1974-07-08,14662276
4,Paraguay,Mr Mathew Tyler,No,Si,Si,1993-07-18,73402449
5,Venezuela,Mr Hugh Daly,Si,Si,No,1985-10-08,66962557
6,Uruguay,Simon Hall,No,No,Si,1979-05-27,77389842
7,Brasil,Lewis Clayton,Si,Si,No,1987-08-09,36380676
8,Ecuador,Mr Jason Gibbs,No,No,No,2009-06-23,81687259
9,Peru,Mrs Joyce Evans,No,No,No,1988-03-14,65111815
10,EEUU,Liam Davies-Read,Si,Si,Si,2008-02-25,26187218
11,Canada,Marcus Wood,No,Si,Si,1996-11-03,53417879
12,Mexico,Trevor Jackson,Si,Si,No,1994-02-09,78981281
13,Costa Rica,Sally Scott,No,No,Si,1993-07-05,59022293
14,Jamaica,Gregory Sinclair-Smith,No,No,No,1975-10-25,26926082

In [28]:
df_final.columns

Index(['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono'],
      dtype='object')

# Paso 4: Conexion a Redshift

In [29]:
import psycopg2

url="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws"
data_base="data-engineer-database"
user="dafbustosus_coderhouse"
with open("C:/Users/Windows/Downloads/pwd_coder.txt",'r') as f:
    pwd= f.read()

try:
    conn = psycopg2.connect(
        host='data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com',
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [30]:
df_final.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
dtype: object

# Paso 5: Enviar tabla a la base de datos

In [32]:
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [33]:
cargar_en_redshift(conn=conn, table_name='POLITICAS_2050', dataframe=df_final)

Proceso terminado